@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  width: 1140px;
  margin: 0 auto; }

.promo {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  padding-top: 270px;
  background: url("../img/mount_bg.svg") no-repeat center/cover; }

.promo_buttons {
  margin-top: 25px;
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between; }

.info_bar {
  transform: rotate(90deg) translateY(80%);
  position: fixed;
  z-index: 2;
  top: 225px;
  left: -100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 20px; }
  .info_bar img {
    display: block;
    width: 20px; }
    .info_bar img:nth-child(1) {
      transform: rotate(-90deg); }
    .info_bar img:hover {
      cursor: pointer; }
  .info_bar .divider {
    display: block;
    background-color: #000;
    width: 70px;
    height: 2px; }
  .info_bar_text {
    transform: rotate(180deg); }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 135px;
  border-radius: 3px;
  background-color: none;
  color: #000;
  text-decoration: none; }
  .btn_visible {
    background-color: #FFA501; }
  .btn:hover {
    cursor: pointer;
    text-decoration: none; }
  .btn_contact {
    border: none;
    width: 219px;
    height: 45px; }

.title {
  font-weight: 700;
  line-height: 24px;
  color: #000; }
  .title_fz16 {
    font-size: 16px; }
  .title_fz48 {
    font-size: 48px;
    line-height: 60px; }
  .title_fz36 {
    font-size: 36px;
    line-height: 60px; }
  .title_fz14 {
    font-size: 14px;
    line-height: 20px; }
  .title_fz20 {
    font-size: 20px;
    line-height: 30px; }
  .title_fz12 {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px; }
  .title_header {
    text-align: center; }
  .title_subheader {
    text-align: center;
    position: relative; }
    .title_subheader:before {
      content: '';
      position: absolute;
      top: -25%;
      left: 0;
      width: 36px;
      height: 36px;
      z-index: -1;
      background-color: #FFA501;
      border-radius: 100%; }
    .title_subheader::before {
      top: -5px;
      left: 50%;
      transform: translateX(-50%); }

.center {
  margin: 25px auto 0 auto;
  width: 120px; }

.divider {
  background-color: #FFA501;
  width: 60px;
  height: 2px;
  margin-bottom: 15px; }

.biography {
  min-height: 620px;
  margin-top: 120px; }
  .biography_subheader {
    padding-top: 6px;
    padding-left: 13px;
    position: relative;
    z-index: 2; }
    .biography_subheader:before {
      content: '';
      position: absolute;
      top: -25%;
      left: 0;
      width: 36px;
      height: 36px;
      z-index: -1;
      background-color: #FFA501;
      border-radius: 100%; }
    .biography_subheader::before {
      top: 1%; }
  .biography_grid {
    margin-top: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
    .biography_grid_elem {
      font-size: 12px;
      max-width: 275px;
      margin-top: 40px;
      padding-left: 60px;
      position: relative; }
      .biography_grid_elem .text {
        margin-top: 6px; }
    .biography_grid_icon {
      padding-left: 17px;
      padding-top: 5px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2; }
      .biography_grid_icon:before {
        content: '';
        position: absolute;
        top: -25%;
        left: 0;
        width: 36px;
        height: 36px;
        z-index: -1;
        background-color: #FFA501;
        border-radius: 100%; }
  .biography_content {
    display: grid;
    grid-template: minmax(150px, auto)/400px 670px;
    column-gap: 70px; }
  .biography_text {
    font-size: 14px;
    font-weight: 300; }
  .biography_photo {
    object-fit: contain;
    background: url("../img/main_photo.jpg") no-repeat center/cover;
    background: url("../icons/about_me/me2.jpg") no-repeat center/cover; }

.useful {
  min-height: 690px;
  margin-top: 120px; }
  .useful .grid_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 425px);
    column-gap: 140px;
    padding: 60px 70px 0 70px; }
    .useful .grid_wrapper ul {
      list-style-type: none; }
      .useful .grid_wrapper ul li {
        position: relative;
        padding-left: 55px;
        margin-top: 45px; }
        .useful .grid_wrapper ul li::before {
          content: '';
          width: 1px;
          height: calc(100% + 52px);
          position: absolute;
          background-color: #000;
          top: -52px;
          left: 7px; }
  .useful .grid_item-header {
    position: relative;
    padding-left: 55px; }
    .useful .grid_item-header::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 15px;
      height: 15px;
      background-color: #FFA501;
      border-radius: 100%; }
  .useful .grid_item-title {
    padding-left: 56px; }
  .useful .grid_item-subtitle {
    padding-left: 56px;
    position: relative; }
    .useful .grid_item-subtitle::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -48px;
      width: 48px;
      height: 1px;
      background-color: #000; }
  .useful .grid_item-descr {
    margin-top: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px; }
  .useful .grid_item-icon {
    position: relative; }
    .useful .grid_item-icon:before {
      content: '';
      position: absolute;
      top: -25%;
      left: 0;
      width: 36px;
      height: 36px;
      z-index: -1;
      background-color: #FFA501;
      border-radius: 100%; }
    .useful .grid_item-icon img {
      position: absolute;
      top: 13px;
      left: 21px; }

.useful_courses_list {
  color: #000;
  font-size: 14px;
  text-decoration: none; }

.hamburger {
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 3;
  width: 36px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer; }
  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 4px;
    background-color: #151812; }
  .hamburger .modified {
    width: 36px; }

.menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  transition: all 0.6s; }
  .menu.active {
    left: 0;
    visibility: visible; }
  .menu_sidebar {
    position: absolute;
    width: 345px;
    height: 100vh;
    background-color: #FFA501;
    z-index: 10;
    padding-left: 80px;
    transition: all 0.6s; }
  .menu_overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 3;
    transition: all 0.6s;
    opacity: 0.5; }
  .menu_close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer; }
  .menu_list {
    margin-top: 140px;
    list-style-type: none; }
    .menu_list li {
      position: relative;
      margin-bottom: 15px; }
      .menu_list li::before {
        content: '';
        width: 15px;
        height: 15px;
        position: absolute;
        border: 2px solid #000;
        border-radius: 100%;
        top: 7px;
        left: -20px; }
      .menu_list li:hover::before {
        background-color: #fff; }
    .menu_list a {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 32px;
      color: #fff;
      margin-left: 25px;
      text-decoration: none; }
  .menu_icons {
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .menu_icons svg {
      width: 20px;
      margin-left: 6px; }

.skills {
  min-height: 1150px; }
  .skills .grid_container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(auto, 270px);
    column-gap: 13px; }
  .skills .grid_item {
    padding: 30px 30px 25px 30px;
    border: 1px solid #000;
    margin-top: 13px; }
    .skills .grid_item-title {
      margin-top: 20px; }
    .skills .grid_item-descr {
      margin-top: 15px;
      font-size: 12px;
      line-height: 18px; }
    .skills .grid_item-icon {
      width: 80px;
      height: 80px; }
      .skills .grid_item-icon img {
        width: 100%; }
    .skills .grid_item .css {
      width: 70px;
      height: 70px;
      margin-bottom: 23px; }
      .skills .grid_item .css img {
        width: 85%; }
  .skills .grid_status {
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(auto, 50px);
    column-gap: 45px; }
    .skills .grid_status_item {
      margin-top: 40px; }
      .skills .grid_status_item-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2; }
        .skills .grid_status_item-text:before {
          content: '';
          position: absolute;
          top: -25%;
          left: 0;
          width: 36px;
          height: 36px;
          z-index: -1;
          background-color: #FFA501;
          border-radius: 100%; }
        .skills .grid_status_item-text::before {
          top: -5px;
          left: -13px; }
      .skills .grid_status_item_back {
        position: relative;
        width: 100%;
        height: 14px;
        margin-top: 25px;
        background-color: #E8E4DE;
        border-radius: 5px; }
      .skills .grid_status_item_front {
        position: absolute;
        width: 80%;
        height: 14px;
        background-color: #FFA501;
        border-radius: 5px; }

.portfolio {
  min-height: 750px;
  margin-top: 120px; }
  .portfolio_grid {
    margin-top: 60px;
    display: grid;
    grid-template: repeat(2, 280px)/repeat(4, 280px);
    gap: 5px;
    grid-auto-rows: 280px; }
    .portfolio_grid .vert {
      grid-row: 1 / 3;
      grid-column: 4 / 5; }
    .portfolio_grid .horis {
      grid-row: 2 / 3;
      grid-column: 2 / 4; }
      .portfolio_grid .horis img {
        height: 100%; }
    .portfolio_grid_item {
      transition: all .6s;
      filter: grayscale(80%); }
      .portfolio_grid_item:hover {
        z-index: 3;
        transform: scale(1.05);
        filter: grayscale(0%);
        border-radius: 5px; }
      .portfolio_grid_item img {
        width: 100%;
        height: 100%; }

.price {
  margin-top: 120px; }
  .price_grid {
    margin-top: 60px;
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 360px);
    grid-auto-rows: minmax(50px, auto);
    grid-template-rows: minmax(50px, auto);
    justify-content: space-between; }
    .price_grid_item {
      margin-top: 15px;
      padding: 0 10px; }
      .price_grid_item .wrapper {
        display: flex;
        justify-content: space-between; }
      .price_grid_item .mod {
        position: relative; }
        .price_grid_item .mod::before {
          content: '';
          position: absolute;
          top: 3px;
          left: -25px;
          width: 15px;
          height: 15px;
          background-color: #FFA501;
          border-radius: 100%; }
      .price_grid_item .descr {
        margin-top: 5px; }

.contact {
  margin-top: 120px;
  padding-bottom: 90px;
  position: relative; }
  .contact .divider {
    margin-top: 10px;
    width: 120px; }
  .contact_subheader {
    padding-left: 13px;
    position: relative;
    z-index: 2;
    line-height: 35px; }
    .contact_subheader:before {
      content: '';
      position: absolute;
      top: -25%;
      left: 0;
      width: 36px;
      height: 36px;
      z-index: -1;
      background-color: #FFA501;
      border-radius: 100%; }
    .contact_subheader::before {
      top: 1%; }
  .contact_header {
    margin-top: 8px; }
  .contact_wrapper {
    padding: 0 35px 0 50px;
    display: grid;
    grid-template-columns: 400px 590px;
    justify-content: space-between; }
  .contact_social {
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
    .contact_social_text {
      text-align: center;
      letter-spacing: 2px;
      font-family: 'Oswald', sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 30px; }
      .contact_social_text span {
        text-align: center;
        font-size: 35px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 10px;
        color: #a10a1b;
        font-family: 'Oswald', sans-serif; }
  .contact_icon {
    margin-top: 25px;
    display: block;
    width: 200px;
    height: 200px;
    align-self: center; }
    .contact_icon img {
      width: 100%; }
  .contact_space {
    text-align: center;
    margin-top: 20px; }
  .contact_form {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 280px);
    justify-content: space-between;
    grid-row-gap: 30px; }
    .contact_form label {
      position: absolute;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      top: -9px;
      left: 12px;
      z-index: 2;
      background-color: #fff;
      padding: 0 8px; }
  .contact_input {
    position: relative; }
    .contact_input input {
      width: 240px;
      height: 45px;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      padding: 0 20px; }
  .contact_textarea {
    position: relative;
    grid-column: 1/3; }
    .contact_textarea textarea {
      padding: 15px 20px;
      width: calc( 100% - 40px);
      height: 160px;
      resize: none;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px; }
  .contact_buttons {
    column-gap: 35px;
    grid-column: 1/3;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center; }
    .contact_buttons .policy_input {
      width: max-content; }
    .contact_buttons a {
      text-decoration: none;
      color: blue; }
      .contact_buttons a:hover {
        text-decoration: none; }
  .contact_photo {
    width: 400px;
    height: 518px;
    background: url("../icons/about_me/me2.jpg") no-repeat center/cover; }

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  align-items: center;
  justify-content: center; }
  .modal .policy {
    padding: 25px;
    box-sizing: border-box;
    position: relative;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Poppins';
    border: 4px solid #FFA501;
    border-radius: 10px;
    background-color: #fff;
    width: 90%;
    height: 85vh;
    overflow: scroll;
    overflow-x: hidden;
    opacity: 1; }
  .modal .space {
    height: 15px;
    margin-bottom: 10px; }
  .modal .bold {
    display: inline;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px; }
  .modal_active {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8); }
  .modal_agree {
    width: 340px;
    border: none;
    background-color: #ffa501;
    margin-top: 25px; }
  .modal_close {
    position: absolute;
    top: 0px;
    left: 96%;
    color: #ffffff;
    font-size: 48px;
    cursor: pointer; }

@media (max-width: 1300px) {
  .info_bar {
    display: none; } }

@media (max-width: 1200px) {
  .container {
    width: 960px; }
  .biography_content {
    grid-template: minmax(150px, auto)/400px 520px;
    column-gap: 40px; }
  .biography_photo {
    background-position-x: 60%; }
  .biography_grid_elem {
    max-width: 260px; }
  .useful .grid_wrapper {
    grid-template-columns: repeat(2, 390px);
    column-gap: 60px;
    padding: 60px 70px 0 50px; }
  .skills .grid_container {
    grid-template-columns: repeat(3, 270px);
    column-gap: 30px;
    padding-left: 50px; }
  .skills .grid_status {
    margin-top: 60px;
    grid-template-columns: repeat(3, 270px);
    padding-left: 30px; }
  .portfolio_grid {
    grid-template: repeat(2, 280px)/repeat(auto-fit, 280px);
    grid-auto-rows: 280px;
    justify-content: center;
    gap: 15px; }
    .portfolio_grid img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    .portfolio_grid .vert {
      grid-row: unset;
      grid-column: unset; }
    .portfolio_grid .horis {
      grid-row: unset;
      grid-column: unset; }
    .portfolio_grid_item:hover {
      z-index: none;
      transform: none;
      filter: grayscale(80%);
      border-radius: 5px; }
  .contact_wrapper {
    grid-template-columns: 300px 550px; }
  .contact_photo img {
    width: 100%;
    object-fit: cover;
    height: 100%; } }

@media (max-width: 992px) {
  .margin_block {
    display: flex;
    justify-content: center; }
  .container {
    width: 720px; }
  .title_fz48 {
    font-size: 36px;
    line-height: 50px; }
  .title_fz36 {
    font-size: 30px; }
  .title_fz16 {
    font-size: 14px; }
  .promo_buttons {
    margin-top: 15px; }
  .btn {
    height: 40px;
    font-size: 14px;
    width: 100px; }
  .biography {
    margin-top: 60px; }
    .biography_content {
      grid-template: minmax(150px, auto)/300px 380px;
      column-gap: 40px; }
    .biography_photo {
      background-position-x: 60%; }
    .biography_grid {
      grid-template-columns: 1fr; }
      .biography_grid_elem {
        max-width: 360px; }
  .useful .grid_wrapper {
    grid-template-columns: 500px;
    grid-row-gap: 40px;
    padding-left: 110px; }
  .skills {
    margin-top: 60px; }
    .skills .grid_container {
      grid-template-columns: repeat(2, 280px);
      padding: 0;
      column-gap: 30px; }
    .skills .grid_status {
      grid-template-columns: repeat(2, 300px);
      padding: 0; }
  .price_grid {
    justify-content: space-around;
    padding: 0;
    grid-template-columns: repeat(2, 340px);
    grid-auto-rows: minmax(50px, auto);
    grid-template-rows: minmax(50px, auto);
    column-gap: 25px; }
  .contact_wrapper {
    grid-template-columns: 590px; }
  .contact_photo {
    display: none; }
  .contact_buttons {
    display: flex;
    align-items: center; }
    .contact_buttons input {
      padding-left: 30px; }
  .contact .btn_contact {
    width: 219px;
    height: 45px; }
  .modal_close {
    left: 93%;
    top: -13px; }
  .modal .btn_contact {
    width: 219px;
    height: 45px; } }

@media (max-width: 768px) {
  .container {
    width: 540px; }
  .title_fz48 {
    font-size: 33px;
    line-height: 40px; }
  .promo_buttons {
    width: 250px; }
  .menu_sidebar {
    width: 250px;
    padding-left: 40px; }
  .menu_list a {
    font-size: 16px; }
  .menu_list li::before {
    width: 12px;
    height: 12px;
    left: -10px; }
  .menu_close {
    width: 20px;
    height: 20px; }
  .biography {
    margin-top: 60px; }
    .biography_content {
      grid-template: minmax(340px, auto)/1fr;
      column-gap: 40px; }
    .biography_text {
      margin-top: 25px; }
    .biography_grid {
      grid-template-columns: 1fr; }
      .biography_grid_elem {
        max-width: 460px; }
  .useful .grid_wrapper {
    grid-template-columns: 460px;
    grid-row-gap: 40px;
    padding-left: 40px; }
  .skills .grid_container {
    grid-template-columns: repeat(2, 240px);
    padding: 0;
    column-gap: 16px; }
  .skills .grid_status {
    grid-template-columns: repeat(2, 220px);
    padding: 0;
    padding-right: 10px; }
    .skills .grid_status_item-text {
      font-size: 14px; }
    .skills .grid_status_item_back {
      margin-top: 20px; }
  .price_grid {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 360px);
    row-gap: 15px; } }

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px; }
  .title_fz48 {
    font-size: 24px;
    line-height: 30px; }
  .title_fz36 {
    font-size: 24px; }
  .title_fz16 {
    font-size: 14px; }
  .promo {
    padding-top: 200px;
    background-position-x: 55%; }
    .promo_buttons {
      display: flex;
      justify-content: space-between;
      width: 170px; }
    .promo .btn {
      height: 30px;
      font-size: 13px;
      width: 80px; }
      .promo .btn:last-child {
        background-color: #FFA501; }
  .useful .grid_wrapper {
    grid-template-columns: 295px;
    grid-row-gap: 40px;
    padding-left: 0px; }
  .skills .grid_container {
    grid-template-columns: repeat(1, 270px);
    padding: 0; }
  .skills .grid_status {
    grid-template-columns: repeat(1, 270px);
    padding: 0; }
    .skills .grid_status_item-text {
      font-size: 14px; }
    .skills .grid_status_item_back {
      margin-top: 20px; }
  .price_grid {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 280px); }
    .price_grid_item .mod {
      width: 160px; }
  .contact {
    margin-top: 40px; }
    .contact_wrapper {
      grid-template-columns: 300px;
      padding: 0;
      justify-content: center; }
    .contact_form {
      grid-template-columns: 300px; }
    .contact_textarea, .contact_input, .contact_buttons {
      grid-column: unset; }
      .contact_textarea input, .contact_textarea textarea, .contact_input input, .contact_input textarea, .contact_buttons input, .contact_buttons textarea {
        width: 100%; }
    .contact_buttons {
      flex-direction: column-reverse;
      justify-content: space-between; }
      .contact_buttons .policy_input {
        width: 220px;
        text-align: center;
        margin-bottom: 10px; }
      .contact_buttons input {
        width: max-content; }
  .modal_close {
    left: 85%;
    top: -10px; }
  .modal .btn_contact {
    margin: 15px auto; }
  .contact_social_text {
    line-height: 20px;
    font-size: 15px; }
    .contact_social_text span {
      line-height: 30px;
      font-size: 16px; }
  .contact_icon {
    width: 150px;
    height: 150px; } }
